@charset "utf-8";
/* CSS Document */

/* Furcation 17 b */

#furcation_17_b_btn {
	position: absolute;
	z-index: 40;
	width: 49.75px;
	height: 14.5px;
	left: 342.5px;
	top: 375px;
}

#furcation_1_17_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furcation_2_17_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furcation_3_17_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furcation_1_17_b {
	position: absolute;
	z-index: 50;
	top: 556.5px;
	left: 357.5px;
	pointer-events: none;
}

#furcation_2_17_b {
	position: absolute;
	z-index: 50;
	top: 556.5px;
	left: 357.5px;
	pointer-events: none;
}

#furcation_3_17_b {
	position: absolute;
	z-index: 50;
	top: 556.5px;
	left: 357.5px;
	pointer-events: none;
}

/* Furcation 17 dp */

#furcation_17_dp_btn {
	position: absolute;
	z-index: 40;
	width: 22.25px;
	height: 14.5px;
	left: 342.5px;
	top: 888.95px;
}

#furcation_1_17_dp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furcation_2_17_dp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furcation_3_17_dp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furcation_1_17_dp {
	position: absolute;
	z-index: 50;
	top: 716.5px;
	left: 340px;
	pointer-events: none;
}

#furcation_2_17_dp {
	position: absolute;
	z-index: 50;
	top: 716.5px;
	left: 340px;
	pointer-events: none;
}

#furcation_3_17_dp {
	position: absolute;
	z-index: 50;
	top: 716.5px;
	left: 340px;
	pointer-events: none;
}

/* Furcation 17 mp */

#furcation_17_mp_btn {
	position: absolute;
	z-index: 40;
	width: 22.25px;
	height: 14.5px;
	left: 369.5px;
	top: 888.95px;
}

#furcation_1_17_mp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furcation_2_17_mp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furcation_3_17_mp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furcation_1_17_mp {
	position: absolute;
	z-index: 50;
	top: 719px;
	left: 364px;
	pointer-events: none;
}

#furcation_2_17_mp {
	position: absolute;
	z-index: 50;
	top: 719px;
	left: 364px;
	pointer-events: none;
}

#furcation_3_17_mp {
	position: absolute;
	z-index: 50;
	top: 719px;
	left: 364px;
	pointer-events: none;
}